table
{
    padding: 5px;
    border:1px solid #830f49;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(135deg, #dfd3c3, #f5efe6);
}

caption
{
    font-size: 25px;
}

tr,td
{
    text-align: center;
    border: 1px solid #830f49;
    border-radius:10px;
    padding: 5px;
}
