*{
	padding:0px;
	margin:0px;
}
.container{
	background: linear-gradient(135deg, #dfd3c3, #f5efe6);
	padding:100px;
	margin:100px 100px;
	border-radius:20px;
}
form#frmlogin{
	background: linear-gradient(135deg, #dfd3c3, #f5efe6);
	max-width:200px;
	margin:auto;
	padding:50px;
	border-radius:20px;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.72);
	overflow:hidden;
}
h2#title{
	text-transform:uppercase;
	color:white;
	font-size:30px;
}
.control{
	width:100%;
	margin:10px;
	max-width:200px;
}
#button{
	padding:2px;
	width:100%;
	max-width:100px;
}
#username{
	width:100%;
}
#userpassword{
	width:100%;
}
#useremail{
	width:100%;
}
a{
	color:black;
}
a:hover{
	color:hotpink;
}
